@model BookApp.Models.Book

@{
    ViewBag.Title = "Details";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

@if (Session["Email"] == null)
{
    Response.Redirect("~/Home/Login");
}
else
{

    <h2>Details</h2>

    <div>
        <h4>Book</h4>
        <hr />
        <dl class="dl-horizontal">
            <dt>
                @Html.DisplayNameFor(model => model.Title)
            </dt>

            <dd>
                @Html.DisplayFor(model => model.Title)
            </dd>

            <dt>
                @Html.DisplayNameFor(model => model.ISBN)
            </dt>

            <dd>
                @Html.DisplayFor(model => model.ISBN)
            </dd>

            <dt>
                @Html.DisplayNameFor(model => model.Author)
            </dt>

            <dd>
                @Html.DisplayFor(model => model.Author)
            </dd>

            <dt>
                @Html.DisplayNameFor(model => model.Edition)
            </dt>

            <dd>
                @Html.DisplayFor(model => model.Edition)
            </dd>

            <dt>
                @Html.DisplayNameFor(model => model.Publisher)
            </dt>

            <dd>
                @Html.DisplayFor(model => model.Publisher)
            </dd>

            <dt>
                @Html.DisplayNameFor(model => model.ModuleCode)
            </dt>

            <dd>
                @Html.DisplayFor(model => model.ModuleCode)
            </dd>

            <dt>
                @Html.DisplayNameFor(model => model.Price)
            </dt>

            <dd>
                @Html.DisplayFor(model => model.Price)
            </dd>

            <dt>
                @Html.DisplayNameFor(model => model.Description)
            </dt>

            <dd>
                @Html.DisplayFor(model => model.Description)
            </dd>

            <dt>
                @Html.DisplayNameFor(model => model.Image)
            </dt>

            <dd>
                @Html.DisplayFor(model => model.Image)
            </dd>

            <dt>
                @Html.DisplayNameFor(model => model.Category.Category1)
            </dt>

            <dd>
                @Html.DisplayFor(model => model.Category.Category1)
            </dd>

            <dt>
                @Html.DisplayNameFor(model => model.Condition.Condition1)
            </dt>

            <dd>
                @Html.DisplayFor(model => model.Condition.Condition1)
            </dd>

            <dt>
                @Html.DisplayNameFor(model => model.Institution.Name)
            </dt>

            <dd>
                @Html.DisplayFor(model => model.Institution.Name)
            </dd>

        </dl>
    </div>
    <p>
        @Html.ActionLink("Edit", "Edit", new { id = Model.Id }) |
        @Html.ActionLink("Back to List", "Index")
    </p>
}


